<div>

    <h1>¿Cual es la Capital de <br> {{correcto.name}}? </h1>

    <img src='{{correcto.flag}}' width="150px" /> 
    

    <h2>opciones</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Capital</th>
        <th>Opcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of opciones">
        <td>{{pais.capital}} </td>
        <td><button pButton type="button" label="Elegir" class="ui-button-rounded ui-button-success" ></button></td>
      </tr>
    </tbody>
  </table>







</div>